* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding: 20px;
}

.container {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

body.dark-theme {
  background-color: #333;
  color: #fff;
}

.container.dark-theme {
  background-color: #222;
}

body.light-theme {
  background-color: #f4f4f4;
  color: #333;
}

.container.light-theme {
  background-color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"], select, input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

body.light-theme input[type="text"],
body.light-theme select,
body.light-theme input[type="date"] {
  border: 1px solid #ccc;
}

body.dark-theme input[type="text"],
body.dark-theme select,
body.dark-theme input[type="date"] {
  border: 1px solid #555;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

body.light-theme button {
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
}

body.dark-theme button {
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

body.light-theme li {
  background-color: #f9f9f9;
  border: 2px solid #ddd;
}

body.dark-theme li {
  background-color: #444;
  border: 1px solid #666;
}

.priority-p1 { border-left: 5px solid #ff4c4c; }
.priority-p2 { border-left: 5px solid #ff924c; }
.priority-p3 { border-left: 5px solid #ffcc4c; }
.priority-p4 { border-left: 5px solid #94ff4c; }
.priority-p5 { border-left: 5px solid #4cff4c; }

.delete-btn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

body.light-theme .delete-btn {
  background-color: #ff4c4c;
  color: #fff;
  border: 1px solid #ff4c4c;
}

body.dark-theme .delete-btn {
  background-color: #ff4c4c;
  color: #fff;
  border: 1px solid #ff4c4c;
}

.delete-btn:hover {
  background-color: #b30000;
  border-color: #b30000;
}

#theme-toggle {
  margin-top: 20px;
}

body.light-theme #theme-toggle {
  background-color: #555;
  border: 1px solid #555;
}

body.dark-theme #theme-toggle {
  background-color: #555;
  border: 1px solid #555;
}

#theme-toggle:hover {
  background-color: #333;
  border-color: #333;
}